include ../components/header.pug

section.main
    .main__content
        h1 LETS GET #[strong LOST]
        p.subtitle Malang will never dissapointed you. <br> From every step you took you will be amazed and suddenly fallin love with Malang
        a(href="#Contact")
            button.button-yellow SET ITTINERY NOW
        .block-opacity

section.about
    img(src="../../assets/images/town-vector.png", alt="")
    h2 City of #[strong Love]
    p Malang is the second largest city in East Java province, Indonesia. It has a history dating back to the ancient Mataram Kingdom. The city is famous for its cool temperature. People in East Java sometimes call it "Paris of East Java.
