.contact {
  position: relative;
  @include size(100%, 718px);

  iframe {
    @include size(100%, 100%);
  }

  .text-light {
    padding: 86px 0;
    text-align: center;
    margin: 0;
  }

  .contact-blocks {
    @include positionAbsolute($top: 0, $left: 0);
    @include size(50%, 100%);
    background-color: rgba(#2fafb0, 0.9);
  }

  .map {
    position: relative;
    @include size(100%, 100%);
    z-index: 1;
  }
}

#map {
  @include size(100%, 100%);
}
