.main {
  @include bgImage('../images/Main.jpg');
  padding-top: 300px;
  min-height: 100%;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .subtitle {
    color: $white;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
  }

  .block-opacity {
    width: 80%;
    background-color: $white;
    opacity: 0.7;
    @include positionAbsolute($top: 95%, $bottom: -10vh, $left: 0, $right: 0);
    margin: 0 auto;
  }
}
