.subscribe {
  padding-top: 66px;
  padding-bottom: 58px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(45deg, $lightgreen 0%, $lightgreen 50%, $darkgreen 50%);

  .text-light {
    margin-bottom: 10px;
  }
}
