html,
body {
  margin: 0;
}

h1 {
  font-family: "Roboto", "Helvetica Nue", sans-serif;
  color: darkolivegreen;
  text-align: center;
  font-weight: 500;
}

header {
  border: 4px dotted indianred;
}

ul {
  display: table;
  margin: 0 auto;
  font-size: 1.3rem;
}

li {
  padding: 2em;
  display: table-cell;
  vertical-align: middle;
}

li .linkRepo {
  text-decoration: none;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

li:first-child {
  color: olivedrab;
}

.block {
  margin: 30px 0;
  padding: 10vh;
  text-align: center;
  text-transform: uppercase;
  border: 20px double #483d8b;
}

.inline {
  margin: 8vw;
  font-size: 20pt;
  color: white;
  font-style: italic;
  background-color: rgba(0, 100, 0, 0.651);
}

.inline:nth-child(odd) {
  background-color: cornflowerblue;
}

.inline-block {
  background: linear-gradient(45deg, #eecfba, #c5dde8);
  margin-bottom: 2rem;
  min-height: 30px;
  line-height: 2;
  text-align: center;
}

footer {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  background-color: indianred;
  color: white;
}
