extends ./layouts/master.pug

block title
  title Malang

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content
  //- Sections' page
  include blocks/main.pug
  include blocks/destination.pug
  include blocks/contact.pug
  include blocks/subscribe.pug
  
  a(href="#").scrollup Наверх
