footer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #ffffff;

    .box-palms {
        display: flex;
        padding: 80px 180px 71px;
        margin-top: 137px;

        .footer-links {
            width: 317px;
            display: flex;
            flex-direction: column;
            margin-right: 233px;

            .footer__title {
                text-transform: uppercase;
                margin-bottom: 17px;
            }

            .footer__text {
                font-size: 18px;
                margin: 0 0 50px;
            }

            .links {
                display: flex;
                list-style: none;
                justify-content: space-between;
                padding-inline-start: 0;
                padding-right: 96px;

                &.__icon {
                    background: white;
                }
            }
        }

        .footer__menu {
            display: flex;

            .menu {
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                list-style: none;
                color: #ffffff;

                &:nth-child(2) {
                    padding: 0 120px;
                }

                .menu__item:first-child {
                    font-family: $ff-roboto_b, Arial, Helvetica;
                    padding-bottom: 35px;
                    text-transform: uppercase;
                }

                .menu__item:nth-child(n + 2) {
                    a {
                        font-family: $ff-roboto_r, Arial, Helvetica;
                        text-transform: none;
                    }
                }
            }
        }
    }
}
