.goals__container {
    margin: 115px 135px;
    text-align: center;
    display: flex;
    flex-direction: column;

    .goals__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 45px 0;

        .box__text {
            &:nth-child(odd) {
                padding-right: 130px;
                padding-left: 120px;
            }

            &:nth-child(even) {
                padding-left: 130px;
                padding-right: 120px;
            }

            .goals__title,
            .goals__text {
                font-size: 16px;
            }

            .goals__subtitle {
                margin-bottom: 50px;
                font-size: 20px;
            }
        }
    }
}

.goals__dates {
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    text-align: center;

    .date-box {
        padding: 88px 0;
    }
}
