header {
    background-image: url(../../img/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 977px;

    .menu-list {
        margin: 0;
        padding: 60px 0 0 121px;

        .menu-list__item {
            font-size: 25px;
            list-style: none;
            display: inline-block;
        }

        li:first-child {
            padding-right: 26px;
        }

        li:nth-child(n + 3) {
            padding: 0 40px;
        }

        li:nth-child(3) {
            padding-left: 624px;
        }

        li:last-child {
            padding-right: 0;
        }
    }

    .header__title-box {
        color: #ffffff;
        width: 640px;
        height: 260px;
        margin-top: 361px;
        margin-right: 219px;
        margin-left: 582px;

        .header__title {
            margin: 0;
            text-align: right;
            text-transform: uppercase;
            font-size: 45px;
        }
        .header__text {
            text-align: right;
            font-size: 29px;
            margin: 31px 0 24px;
        }

        button {
            float: right;
            color: #ffffff;
            background-color: transparent;
            padding: 19px 60px;
            border: 0.188em solid #ffffff;
            text-transform: uppercase;
            text-align: center;
            transition: all 0.2s;
            font-size: 25px;

            &:hover {
                color: #000000;
                background-color: #ffffff;
            }
        }
    }
}
