.team__title-box {
    margin-top: 188px;
    margin-bottom: 170px;
    padding: 0 272px;
    text-align: center;

    .team__title {
        font-size: 29px;
        text-transform: uppercase;
    }

    .team__text {
        font-size: 18.75px;
    }
}

.team__images-box {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 149px;
}

.team__advantages {
    display: flex;
    justify-content: space-between;
    margin: 0 180px;

    .advantage__card {
        width: 28%;
        color: #ffffff;
        margin-top: 159px;
        margin-bottom: 98px;

        .adtantage-title {
            margin: 0;
            padding-bottom: 40px;
        }

        .adtantage-text {
            margin: 0;
            font-size: 16px;
        }
    }
}

