footer.footer
    .box-palms.box-gradient
        .footer-links
            h1.footer__title About
            p.footer__text Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod.
            -var icons = ["Facebook", "Instagram", "Twitter", "Youtube", "Snapchat"]
            ul.links
                each item in icons
                    li.__icon
                        img(src="../img/" + item + ".png")

        -var n = 0;
        nav.footer__menu
            while n < 3
                -var list = ["About", "Team", "Join us", "Ethic", "Goals"]
                ul.menu
                    each item in list
                        li.__item
                            a( href = '#' ).__item-href= item
                -n++;