section.goals
    .goals__container
        mixin oddBox(n)
            .box__text
                p.goals__title Projects / 20th August
                p.goals__subtitle Something new has just arrived
                p.goals__text Lorem ipsum dolor sit amet, consectetur adip-isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim v architecto beatae vitae dicta sunt es. omne essentiale dolor liquam.
            img(src="../img/goal-" + n + ".jpg", alt="")

        mixin evenBox(n)
            img(src="../img/goal-" + n + ".jpg", alt="")
            .box__text
                p.goals__title Projects / 20th August
                p.goals__subtitle Something new has just arrived
                p.goals__text Lorem ipsum dolor sit amet, consectetur adip-isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim v architecto beatae vitae dicta sunt es. omne essentiale dolor liquam.

        
        -var n = 1;
        while n <= 3
            .goals__box
                if n % 2 == 1
                    +oddBox(n)
                else
                    +evenBox(n)
            -n++;

    .goals__dates.box-gradient
        mixin date(title, subtitle)
            .date-box
                p.goals__subtitle= title
                p.goals__text= subtitle

        -var n = 1;
        while n <= 3
            +date('Lorem ipsum dolor sit', 'Trips / 16th March, 2019')
            -n++;
