header
    .header__menu
        nav.menu
            -var list = ["home", "about", "shop", "contact"]
            ul.menu-list
                li._item
                    include ../../img/Rectangle_.svg

                each item in list
                    li._item
                        a( href = '#' )= item
    .header__title-box
        h1.header__title Summer pop
        p.header__text Lorem ipsum dolor sit amet, consectetur adipisicing elitsed doeiusmod temporincididunt ut labore et dolore magna essentialeoculis.
        button Read more
