/* src/assets/styles/base/_fonts.scss  */

/*
  Lato
*/

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url('@~fonts/Lato/Lato-Black/Lato-Black.eot');
  src: local('☺'), url('@~fonts/Lato/Lato-Black/Lato-Black.woff') format('woff'),
  url('@~fonts/Lato/Lato-Black/Lato-Black.ttf') format('truetype'),
  url('@~fonts/Lato/Lato-Black/Lato-Black.svg') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  src: url('@~fonts/Lato/Lato-Bold/Lato-Bold.eot');
  src: local('☺'), url('@~fonts/Lato/Lato-Bold/Lato-Bold.woff') format('woff'),
  url('@~fonts/Lato/Lato-Bold/Lato-Bold.ttf') format('truetype'),
  url('@~fonts/Lato/Lato-Bold/Lato-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 800;
  src: url('@~fonts/Lato/Lato-Heavy/Lato-Heavy.eot');
  src: local('☺'), url('@~fonts/Lato/Lato-Heavy/Lato-Heavy.woff') format('woff'),
  url('@~fonts/Lato/Lato-Heavy/Lato-Heavy.ttf') format('truetype'),
  url('@~fonts/Lato/Lato-Heavy/Lato-Heavy.svg') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('@~fonts/Lato/Lato-Light/Lato-Light.eot');
  src: local('☺'), url('@~fonts/Lato/Lato-Light/Lato-Light.woff') format('woff'),
  url('@~fonts/Lato/Lato-Light/Lato-Light.ttf') format('truetype'),
  url('@~fonts/Lato/Lato-Light/Lato-Light.svg') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  src: url('@~fonts/Lato/Lato-Medium/Lato-Medium.eot');
  src: local('☺'), url('@~fonts/Lato/Lato-Medium/Lato-Medium.woff') format('woff'),
  url('@~fonts/Lato/Lato-Medium/Lato-Medium.ttf') format('truetype'),
  url('@~fonts/Lato/Lato-Medium/Lato-Medium.svg') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  font-style: italic;
  src: url('@~fonts/Lato/Lato-MediumItalic/Lato-MediumItalic.eot');
  src: local('☺'), url('@~fonts/Lato/Lato-MediumItalic/Lato-MediumItalic.woff') format('woff'),
  url('@~fonts/Lato/Lato-MediumItalic/Lato-MediumItalic.ttf') format('truetype'),
  url('@~fonts/Lato/Lato-MediumItalic/Lato-MediumItalic.svg') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  src: url('@~fonts/Lato/Lato-Regular/Lato-Regular.eot');
  src: local('☺'), url('@~fonts/Lato/Lato-Regular/Lato-Regular.woff') format('woff'),
  url('@~fonts/Lato/Lato-Regular/Lato-Regular.ttf') format('truetype'),
  url('@~fonts/Lato/Lato-Regular/Lato-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: url('@~fonts/Lato/Lato-Semibold/Lato-Semibold.eot');
  src: local('☺'), url('@~fonts/Lato/Lato-Semibold/Lato-Semibold.woff') format('woff'),
  url('@~fonts/Lato/Lato-Semibold/Lato-Semibold.ttf') format('truetype'),
  url('@~fonts/Lato/Lato-Semibold/Lato-Semibold.svg') format('svg');
}

$lato: 'Lato', sans-serif;

/*
  ChunkFive
*/

@font-face {
  font-family: 'ChunkFive';
  src: url('@~fonts/ChunkFive.woff');
}

$chunkFive: 'ChunkFive', sans-serif;


/*
  Monrserrat
*/

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('@~fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot');
  src: local('☺'), url('@~fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
  url('@~fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
  url('@~fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('@~fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.eot');
  src: local('☺'), url('@~fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
  url('@~fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
  url('@~fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
}

$montserrat: 'Montserrat', sans-serif;
