//- src/views/components/footer.pug

include ../mixins/mixins.pug

footer
    .navbar
        +list("footer__menu", ['Term & Condition', 'Policy', 'Privacy'])
        div.svg-icons
            a(href="#")
                svg.icon
                    use(xlink:href="#facebook")
            a(href="#")
                svg.icon
                    use(xlink:href="#twitter")
            a(href="#")
                svg.icon
                    use(xlink:href="#instagram")

    img(src="../../assets/images/footer-icon.png", alt="").footer__image
    p copyright@YokMalang. Allright Reserved. 2015

    
