//- src/views/components/header.pug

include ../mixins/mixins.pug

header.header
    .navbar-responsive
        i.fa.fa-bars
    a(href="#").logo-text Yok#[strong Ngalam]
    nav.menu-navbar
        +list("header__menu", ['Home', 'Destination', 'Ittinaty', 'Review', 'Contact'])

        .profile-box
            button.dropbtn
                img(src="../../assets/images/profile-img.png", alt="")
                i.fa.fa-sort-desc
            .dropdown-content
                a(href="#") Link 1
                a(href="#") Link 2
                a(href="#") Link 3