/* src/assets/styles/components/_footer.scss  */

footer {
  position: relative;
  z-index: 0;
  background-color: $darkpurple;
  display: flex;
  flex-direction: column;

  .navbar {
    display: flex;
    padding: 0 140px;

    .footer__menu {
      display: flex;
      padding-top: 23px;
      flex-grow: 1;

      li {
        &:nth-child(n + 2) {
          color: #5d5c5c;
          padding-left: 10px;

          &::before {
            content: '\2022';
            vertical-align: middle;
            padding-right: 10px;
          }
        }
      }
      a {
        font-family: $lato;
        font-size: 12px;
        color: #5d5c5c;
      }
    }

    .svg-icons {
      padding-top: 17px;

      .icon {
        @include size(30px, 30px);
        fill: rgb(61, 55, 65);

        &:hover {
          fill: $darkcyan;
        }
      }

      a:nth-child(2) {
        margin: 0 13px;
      }
    }
  }

  p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .footer__image {
    max-width: 100%;
  }
}

/*
  Responsive
*/

@media screen and(max-width: $grid-width) {
  footer {
    .navbar {
      .footer__menu a {
        font-size: 18px;
      }

      .svg-icons .icon {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media screen and(max-width: 768px) {
  footer {
    .navbar {
      flex-direction: column;
      margin-bottom: 25px;

      .footer__menu {
        flex-direction: column;
        align-items: center;

        li:nth-child(n + 2) {
          padding: 0;

          &::before {
            content: '';
            padding: 0;
          }
        }

        li:nth-child(2) {
          padding: 20px 0;
        }
      }

      .svg-icons {
        padding-top: 17px;
        display: flex;
        justify-content: space-around;
  
        a:nth-child(2) {
          margin: 0 13px;
        }
      }
    }

    p {
      font-size: 14px;
    }
  }
}
