form {
  @include isFlex($direction: column);
  width: 70%;
  margin: auto;
  background-color: transparent;

  input[type='text'],
  input[type='email'],
  textarea {
    width: 100%;
    outline: none;
    padding: 20px 25px;
    font-size: 14px;
    border-radius: 10px;
    background-color: $white;
    border: none;

    &::placeholder {
      font-family: $lato;
      font-weight: 500;
      font-style: italic;
      color: #b9b9b9;
    }
  }

  input[type='submit'] {
    margin-left: auto;
    font-family: $lato;
    font-weight: 800;
    font-size: 15px;
    margin-top: 28px;
    text-transform: uppercase;
    background-color: $lightgreen;
    cursor: pointer;
    transition: 0.3s ease all;

    &:hover {
      background-color: $darkgreen;
    }
  }

  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label {
    top: 20px;
    font-size: 8pt;
  }

  .flex-row {
    display: flex;
    width: 100%;
    margin: 20px 0;

    input:first-child {
      margin-right: 20px;
    }
  }
}

@media screen and(max-width: 576px) {
  .flex-row {
    flex-direction: column;
    justify-content: space-between;

    input:first-child {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
