.search {
  position: relative;
  display: flex;

  .input-search {
    flex: 1;

    .searchButton {
      position: absolute;
      top: 2px;
      @include size(40px, 36px);
      border: none;
      background: transparent;
      text-align: center;
      font-size: 20px;

      svg {
        width: 17px;
        height: 17px;
        fill: #55676e;
      }
    }

    .searchTerm {
      width: 234px;
      border: 1px solid #e8e8e8;
      border-left: none;
      padding: 10px 82px 14px 42px;
      border-radius: 32px;
      outline: none;

      &:focus {
        color: $darkcyan;
        border-color: $darkcyan;
      }
    }
  }

  .search__text {
    display: flex;
    text-transform: uppercase;

    p {
      font-family: $lato;
      font-weight: 500;
      color: $lightgray;

      strong {
        font-weight: 900;
        color: $darkgrey;

      }
      &:nth-child(2) {
        padding: 0 17px;
      }
    }
  }
}
