.slick {
  position: relative;
  margin: 0 30px;

  .slider {
    padding: 0 100px;

    img {
      @include size(100%, 100%);
    }

    .slide__container {
      position: relative;
      margin-bottom: 26px;

      a {
        @include positionAbsolute($top: 93%, $left: 52%);
        font-family: $lato;
        font-weight: bold;
        color: $white;

        svg {
          fill: #f6f6f6;
          @include size(12.562px, 10.97px);
          margin-left: 9px;
          vertical-align: middle;
        }
      }

      .slide__content {
        @include positionAbsolute($top: 0, $right: 0);
        @include size(39%, 100%);
        padding: 55px 50px 0 33px;
        background-color: rgba($white, 0.95);

        .slide__icon {
          @include size(84px, 88px);
        }

        h3 {
          margin: 34px 0 24px;
        }
      }
    }

    .slide-column {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1.5fr 1fr;
      grid-column-gap: 2.063em;

      .slide__container {
        &:first-child() a {
          @include positionAbsolute($top: 93%, $left: 85%);
        }

        &:nth-child(2) a {
          @include positionAbsolute($top: 93%, $left: 78%);
        }
      }

      .slide__content-2 {
        @include positionAbsolute($top: 0, $left: 0);
        @include size(50%, 100%);
        padding: 45px 25px 0 33px;
        background-color: rgba($white, 0.95);

        .slide__icon {
          @include size(106px, 52px);
        }

        h3 {
          margin: 28px 0 24px;
        }
      }

      .slide__content-3 {
        @include positionAbsolute($top: 50%, $left: 50%);
        @include size(50%, 100%);
        margin-top: -75.5px;
        margin-left: -75.5px;

        .slide__icon {
          @include size(153px, 153px);
        }
      }
    }
  }

  .controls {
    text-align: center;
    padding-bottom: 86px;

    .controls-arrows,
    .controls-dots {
      display: inline-block;
    }

    .controls-dots .slick-dots {
      position: relative;
      bottom: auto;

      li button:before {
        font-size: 12px;
        color: #acacac;
      }

      li.slick-active button:before {
        color: $darkcyan;
      }
    }

    .controls-arrows .slick-next {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      display: inline-block;
      transform: none;
      vertical-align: middle;
      margin-bottom: 3px;

      &:before {
        content: url('../images/slick-forward.svg');
      }
    }
  }
}

@media screen and(max-width:  $grid-width) {
  .slick {
    .slider {
      padding: 0;

      .slide__container {
        &:first-child {
          margin: 30px 0;

          a {
            @include positionAbsolute($top: 40%, $left: 85%);
          }

          .slide__content {
            @include isFlex($direction: column);
            @include size(100%, auto);
            position: relative;
            padding: 20px;
  
            .slide__icon {
              display: inline;
              margin: 0 auto;
            }
  
            h3 {
              @include isFlex();
              margin: auto;
              vertical-align: middle;
            }
            p {
              padding: 0 10px;
              font-size: 1.15em;
            }
          }

          .slide__content-2 {
            position: relative;
            padding: 20px;
            @include size(100%, auto);
          }
          .slide__icon {
            @include isFlex();
            margin: 0 auto;
          }
        }
      }

      .slide-column {
        display: block !important;

        .slide__container {
          &:first-child {
            a {
            @include positionAbsolute($top: 50%, $left: 78%);
            }
          }
        }
      }
    }

    .controls {
      .controls-dots .slick-dots {
        li button:before {
          font-size: 18px;
          color: #acacac;
        }

        li.slick-active button:before {
          color: $darkcyan;
        }
      }
    }
  }
}
